<div class="userpage">
    <h2>Edit Profile</h2><br>
    <h3><%= @user.name %><br>   </h3>
    <br>
    <div id="getLocation"><%=fa_icon "location-arrow",class: "fa-2x fal",id:'location_icon'%></div>
    <div id='mapid' style="width:100%;top:10%;left:0%"></div></br>
    <%= form_for @user, url: user_path(@user), method: 'put'  do |f| %>
        <div class="field">
            <%= text_field_tag :search, params[:search], placeholder: "Get location from Postcode (SL41PN)" %>
        </div>
        <div class="field" id="range_to">
            <%= f.label "Distance i will travel for a job (Miles)" %>
        <br/>
            <%= f.text_field :range_to, autofocus: true, autocomplete: "range_to"%>
        </div>
        <div class="field">
            <%= f.label :email %>
        <br/>
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>
        <div class="field">
            <%= f.label "Cover Photo" %><br>
            <%= f.file_field :avatar %>
        </div>
        <br>
        <div class="avatar">
            <% if @user.avatar.file? %>
                <%= image_tag @user.avatar.url, id: "edit_image"%>
            <% end %>
        </div>
        <div class="field">
            <%= f.label :biography%>
            <br/>
            <%= f.text_area :bio, autofocus: true, autocomplete: "bio" %>
         </div>
        <div class="field">
            <%= f.label "Maximum Party Size" %><br />
            <%= f.text_field :max_party_size, autofocus: true, autocomplete: "5" %>
        </div>
        <div class="field">
            <%= f.label "Average price per head (£)"%><br />
            <%= f.text_field :price_per_head, autofocus: true, autocomplete: "50" %>
        </div>
            <%= f.hidden_field :location_lat, autofocus: true, autocomplete: "location_lat" %>
            <%= f.hidden_field :location_lon, autofocus: true, autocomplete: "location_lon" %>
            <%= f.hidden_field :id, :value => params[:id] %>
        <div class="actions">
            <%= f.submit "Update" %>
        </div>
    <% end %>
    </br>
        <%= link_to "Back", :back, id: 'small_back' %>
 <script type="text/javascript">

 var circle, originalCircle, edited, marker_edited, marker, loc_lat_lng

    $('#user_range_to').keyup(function(){
        !edited?mymap.removeLayer(originalCircle):null
        circle?mymap.removeLayer(circle):null
        edited = true
        if (!marker_edited){
            circle=L.circle([<%="#{@user.location_lat},#{@user.location_lon}],"%>$("#user_range_to").val()*1000,{color: '#FF0000'}).addTo(mymap)
        } else {
        circle=L.circle(loc_lat_lng,$("#user_range_to").val()*1000,{color: '#FF0000'}).addTo(mymap)
        }
    })

    var mymap = L.map('mapid').setView([<%="#{@user.location_lat},#{@user.location_lon}"%>],7);

    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoidGhvbWFzY2FsbHVtYnJvb2siLCJhIjoiY2pnNm9hOTUxMjlyNjJ3b2gybXl2OGpvNSJ9.6FSzBSK3H6063Afj38PSIQ'
        }).addTo(mymap);
    
    originalCircle=L.circle([<%="#{@user.location_lat},#{@user.location_lon}],"%>$("#user_range_to").val()*1000,{color: '#FF0000'}).addTo(mymap)
    
    var goChefIcon = L.icon({
        iconUrl: '/gochef_logo.png',
        iconSize:     [38, 95], 
        iconAnchor:   [22, 94],  
        popupAnchor:  [-3, -76], 
        className: 'mapIcon'
    });

    function renderMarkers (e){
        mymap.removeLayer(marker)
        loc_lat_lng=e
        marker=L.marker([e.lat,e.lng], {icon: goChefIcon}).addTo(mymap);
        circle?mymap.removeLayer(circle):null
        !edited?mymap.removeLayer(originalCircle):edited=true
        circle=L.circle([e.lat,e.lng],$("#user_range_to").val()*1000,{color: '#FF0000'}).addTo(mymap)
        marker_edited=true
    }
    function onMapClick(e) {
        $('#user_location_lat').val(e.latlng.lat)
        $('#user_location_lon').val(e.latlng.lng)
        mymap.panTo(e.latlng)
        renderMarkers(e.latlng) 
    }
    mymap.on('click', onMapClick);

    !marker_edited?marker=L.marker([<%="#{@user.location_lat},#{@user.location_lon}"%>], {icon: goChefIcon}).addTo(mymap):null

    $("#getLocation").click(()=>{
        mymap.locate({setView: true, watch: true}).setView(7)
    })

</script>