<div class="cover">
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
  <%= render(:partial => 'users/welcome') %>
</div>

<div class = "container">
  <div class ="right">
<div class="list">
    <% @users.each do |user| %>
      <% if user.is_a_chef %>
          <div class="chef-list" id="chef-<%= user.id %>"">
            <div class="chef-list-profile">
              <div class="small-avatar" style="background-image: url(<%= user.avatar.url(:thumb)%>)"></div>

            </div>
            <div class="list-content">
              <%= link_to "#{user.name}", user_path(user) %>
                
                  <div class="ratings_bar">
                    <% 5.times do |i|%>
                     <% if user.av_rating != nil && i && user.av_rating > i %>
                       <%= link_to(raw(fa_icon "spoon", class: "fa-1x", class: "spoon"), user_path(user, :id => user.id))%> 
                     <% else %>
                       <%= link_to(raw(fa_icon "spoon", class: "fa-1x", class: "spoon_empty"), user_path(user, :id => user.id))%> 
                       <!--<%= link_to(raw("<i class='fa fa-star'></i>"), user_path(user, :id => user.id)) %> -->
                     <% end %>
                    <% end %>
                  </div>
                  <br><br>
                  <button class="button show">
                      <%= link_to "Show", user_path(user)%>
                  </button>
                </div>
            </div>             
        <% end %>
    <% end %>
</div>
</div>

<div class ="search">
        <div id="search_box">
        <div id="location" class="box_text">LOCATION</div>
         <div id="cross_line"></div>
        <div id="rating" class="box_text">RATING</div>
        <div id="line"></div>
        <div id="name" class="box_text">NAME</div>
        </div>
      </div>

    </div>
<script>

$("#location").click(()=>{window.location.replace('/search?location=true')})
$("#name").click(()=>{window.location.replace('/search?name=true')})
$("#rating").click(()=>{window.location.replace('/search?rating=true')})
</script>