<div class="cover">
  <%= render(:partial => 'users/welcome') %>
</div>

<div class = "container">
  <div class ="right">
<div class="list">
    <% @users.each do |user| %>
      <% if user.is_a_chef %>
          <div class="chef-list">
            <div class="chef-list-profile">
              <div class="small-avatar" style="background-image: url(<%= user.avatar.url(:thumb)%>)"></div>

            </div>
            <div class="list-content">
              <%= link_to "#{user.name}", user_path(user) %>
                
                  <div class="ratings_bar">
                    <% 5.times do |i|%>
                     <% if user.average_rating != nil && i && user.average_rating > i %>
                       <%= link_to(raw(fa_icon "spoon", class: "fa-1x", class: "spoon"), user_path(user, :id => user.id))%> 
                     <% else %>
                       <%= link_to(raw(fa_icon "spoon", class: "fa-1x", class: "spoon_empty"), user_path(user, :id => user.id))%> 
                       <!--<%= link_to(raw("<i class='fa fa-star'></i>"), user_path(user, :id => user.id)) %> -->
                     <% end %>
                    <% end %>
                  </div>
                  <br><br>
                  <button class="button show">
                      <%= link_to "Show", user_path(user)%>
                  </button>
                </div>
            </div>             
        <% end %>
    <% end %>
</div>
</div>

<div class ="search">
        <%= form_tag(users_path, method: :get) do %>
          <%= text_field_tag :search, params[:search], placeholder: "Filter Chefs" %>
          <%= submit_tag 'Filter', name: nil, :class => "search_button" %>
        <% end %>
      </div>

    </div>
