<div class="page">
    <div id='mapid'></div>
    <script type="text/javascript">
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
        attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
        maxZoom: 18,
        id: 'mapbox.streets',
        accessToken: 'pk.eyJ1IjoidGhvbWFzY2FsbHVtYnJvb2siLCJhIjoiY2pnNm9hOTUxMjlyNjJ3b2gybXl2OGpvNSJ9.6FSzBSK3H6063Afj38PSIQ'
    }).addTo(mymap);
  </script>

  <div class ="profile_title">
    <div class ="profile">
      <% if @user.avatar.file %>
        <%= image_tag @user.avatar.url%>
      <% end %>
    </div>
        <div id="mapid" style="top:400px;height:150px;left:-204px;width:385px;"></div>
    <p class ="title"><%= @user.name %></p>
    
    <% if user_signed_in? %>
      <button class="button edit">
        <%= link_to(raw("<i class='fa fa-cog'></i>"), user_edit_path(@user.id)) %> 
      </button>
    <% end %>
    <button class = "button back">
      <%= link_to("Back to the chefs", "/" ) %>
    </button>
  <p class = "bio">Bio: <span>
    <%= @user.bio %>

  </p>
  </div>
</div>


