<div class="page">

  <button class = "button back">
    <%= link_to("Back to the chefs", "/" ) %>
  </button>
  <br>

  <p class ="title"><%= @user.name %></p>
  <br>
  <p>Bio:</p>
  <%= @user.bio %>
            <button class="button show"><%= link_to "Edit", user_path(@user.id)%> </button>
  <!--
  <%= User.attribute_names +  User.reflect_on_all_associations.map {|a| a.columns_hash.to_s } %> 
  <%= User.columns_hash['email'] %> 
  -->
<div
    <%= @user.name %>
  <p>
  <strong>Image:</strong>

  <% if @user.avatar.file %>
    <%= image_tag @user.avatar.url%>
  <% end %>

</p>
</div>

