<div class="page">

  <div class ="profile_title">
    <div class ="profile">
      <%= image_tag @user.avatar.url(:thumb) %>
    </div>
    <p class ="title"><%= @user.name %></p>
    
    <button class = "button back">
      <%= link_to("Back to the chefs", "/" ) %>
    </button>
  <p class = "bio">Bio: <span>
    <%= @user.bio %>

    <% if user_signed_in? %>
      <button class="button sign_up">
        <%= link_to "Edit", user_edit_path(@user.id) %> 
      </button>
    <% end %>
  </p>
  </div>
</div>


