<div class="page form">
  <h2>Please enter your Postcode:</h2>
      <%= form_for @current_user, url: welcome_post_path(@current_user), method: 'post'  do |f| %>
  <% session[:temp_user] = 1000000 %>
    <div class="field">
      <%= f.label :postcode %><br />
      <%= f.text_field :postcode, autofocus: true, autocomplete: "SL44NP" %>
        <%= f.hidden_field :id %>
    </div>

    <div>
      <%= f.submit "Join",:class => "actions sign_up"%>
    </div>
  <% end %>
</div>
