  <div class="user page">
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
      <div class="gallery_form">
        <h2>Upload images to your gallery</h2>
        <h3><%= current_user.name %></h3>
      </div>
    <%= form_for @image, :html=> {:id => 'gallery_form'} , url: user_images_path(current_user), method: 'post'  do |f| %>
      <div class="gallery_text">
        <div id="photo_frame" class="photo_frame"></div>
          <%= f.label "Add a photo" %><br>
          <%= f.file_field :image %>
        </div>
        <div class="actions">
        <%= f.submit "Update" %>
        </div>
    <% end %>
    <div id="gallery">
      <% @user.images.each_with_index do |i,l| %>
        <div class="pic_frame" style="background-image: url(<%= i.image.url %>">
         <div class="picture_button" ><%=fa_icon "trash",class: "fa-1x",id: i.id %></div>
        </div>
      <% end %>         
    </div>
  <% if @image.errors.any? %>
    <h4><%= pluralize(@image.errors.count, "error") %> prohibited this file from being saved</h4>
      <ul class="error_list">
        <% @image.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
  <% end %>
    </br>
    <%= link_to "Back", user_path(current_user), id: "small_back" %>
  </div>
<script>
$('.fa-1x').click(function(){
  if (confirm('are you sure you want to delete this image?')){
    $.ajax({
        url: '/users/<%=current_user.id%>/images/'+this.id,
        type: 'DELETE',
        success: function(result) {
        }
    })
  }
})
</script>
</div>