<!DOCTYPE html>
<html>
  <head>
    <title>Go Chef</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:400,500" rel="stylesheet">

    <div class="nav-bar">
      <div class="logo">
  
        <%= link_to (image_tag ("gochef_logo.png"), class: 'logo'), "/" %>
      </div>
      <!--       
      <div id="titles" >
        <h1>o Chef</h1>
      </div> 
      -->
      <div class="nav-links">
        <% if user_signed_in? %>
          <button class = "button sign_up">
            <%= link_to "Join", destroy_user_session_path, method: :delete %>
          </button>
        <% else %>
          <button class = "button sign_in">
            <%= link_to "sign in", new_user_session_path %>
          </button>
          <button class = "button sign_up">
            <%= link_to "Join", new_user_registration_path %>
          </button>
        <% end %>
      </div>
    </div>
  </head>

  <body>

    


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div id="gmap" style="width:300px;height:250px;"></div>
    <!--<script src="maplace.min.js"></script>-->
    <script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?v=3&key=AIzaSyDMF0SsP0ErqM0s-JNEwO48OeclMQWJRrs&callback=initMap">
    <script type="text/javascript">
      $(function() {

  new Maplace({
    show_markers: false,
    locations: [{
        lat: 45.9,
        lon: 10.9,
        zoom: 8
    }]
}).Load();

});

</script>
  </body>
</html>
