<!DOCTYPE html>
<html>
  <head>
    <title>Go Chef</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,500|Roboto:400,500" rel="stylesheet">

    <div class="nav-bar">
      <div class="logo">
  
        <%= link_to (image_tag ("gochef_logo.png"), class: 'logo'), "/" %>
      </div>
      <!--       
      <div id="titles" >
        <h1>o Chef</h1>
      </div> 
      -->
      <div class="nav-links">
        <% if user_signed_in? %>
          <button class = "button sign_up">
            <%= link_to "Join", destroy_user_session_path, method: :delete %>
          </button>
        <% else %>
          <button class = "button sign_in">
            <%= link_to "sign in", new_user_session_path %>
          </button>
          <button class = "button sign_up">
            <%= link_to "Join", new_user_registration_path %>
          </button>
        <% end %>
      </div>
    </div>
  </head>

  <body>

    


    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
    <div id="mapid" style="height:180px;"></div>

    <script type="text/javascript">
    var mymap = L.map('mapid').setView([51.505, -0.09], 13);
    L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token={accessToken}', {
    attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
    maxZoom: 18,
    id: 'mapbox.streets',
    accessToken: 'pk.eyJ1IjoiZnJlc2hiYmsiLCJhIjoiY2pnNWFnNTFqMXpjbTJxbW9pNzVtaHJmMSJ9.7NqQxzEyLJIaBQH_OqhJ8Q'
}).addTo(mymap);
   

</script>
  </body>
</html>
