<div class="page form">
  <h2>Join</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>
    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
    </div>
    
    <div class="field">
      <%= f.label "Are you a chef?"%><br />
      <%= f.check_box :is_a_chef %> <br />
    </div>
    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>
    <div id='chef_fields'>
    <div class="field">
      <%= f.label "Maximum Party Size" %><br />
      <%= f.text_field :max_party_size, autofocus: true, autocomplete: "5" %>
    </div>
    <div class="field">
      <%= f.label "Average price per head (£)"%><br />
      <%= f.text_field :price_per_head, autofocus: true, autocomplete: "50" %>
    </div>
     <div class="field">
            <%= f.label "Cover Photo" %><br>
            <%= f.file_field :avatar %>
        </div>
        <br>
        <div class="avatar">
            <% if @user.avatar.file? %>
                <%= image_tag @user.avatar.url, id: "edit_image"%>
            <% end %>
        </div>
    </div>
    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>
    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>
    <div>
      <%= f.submit "Join",:class => "actions sign_up"%>
    </div>
  <% end %>
</div>
<script>
$('#chef_fields').hide()
$('#user_is_a_chef').click(()=>{
$('#chef_fields').toggle()
})
</script>